/* **************************************************************** */
/* Device - General Page customization */
#p10 span[tabindex="0"], #p10 span[onclick="showEditNodeValueDialog(3)"], #p10 span[onclick="showEditNodeValueDialog(2)"] {
    color: #69B !important;
}

#p10 #p10deviceName svg.fa-pencil, #p10 #p10info svg.fa-pencil {
    display: none !important;
}

#p10 .fs-4.fw-bold {
    font-size: 0 !important;
}

#p10deviceName {
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

/* notes panel */
#notesPanel table {
    color: #212529;
    background-color: #efefef;
    border-radius: 20px;
	overflow: hidden;
}

.night #notesPanel table {
    color: #DEE2E6;
    background-color: #242323;
}

#notesPanel thead tr
 {
	 background-color: #e4e3e3;
}

.night #notesPanel thead tr
 {
	background-color: #292929;
}

#notesPanel > table > tbody > tr > td {
	padding: 0px 0 10px 10px;
	font-size: small;
}

#notesPanel th {
    text-align: center;
}
