/* **************************************************************** */
/* Drop down context menu */
.contextMenu {
	border-radius: 10px !important;
	border: unset !important;
	box-shadow: 0 0 12px #0000004d !important;
	padding: 4px;
	/* color: #CCC !important; */
	    background-color: rgba(242, 242, 242, 0.75) !important;
    backdrop-filter: blur(12px) saturate(120%) brightness(1.1) !important;
    -webkit-backdrop-filter: blur(12px) saturate(120%) brightness(1.1) !important;
	overflow: hidden;
}

.night .contextMenu {
	box-shadow: 0 0 12px #050505ba !important;
	/* color: #CCC !important; */
	background-color: rgba(41, 44, 44, 0.75) !important;
}

hr#cxmgroupsplit {
	margin: 2px 0px !important;
	/* margin-bottom: 6px !important; */
}

.cmtext:hover {
    background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
	transition: background-color 0.2s ease;
}

.cmtext {
    width: 100% !important;
	font-size: smaller !important;
	color: unset !important;
	padding: 6px 12px;
	overflow: unset !important;
	border-radius: 7px !important;
}

#cxinfo > b {
	font-weight: normal !important;
}

.dropdown-menu.show {
	border-radius: 10px !important;
	border: unset !important;
	background-color: #f2f2f2 !important;
	box-shadow: 0 0 12px #0000004d !important;
	font-size: smaller !important;
	padding: 4px;
    background-color: rgba(242, 242, 242, 0.75) !important;
    backdrop-filter: blur(12px) saturate(120%) brightness(1.1) !important;
    -webkit-backdrop-filter: blur(12px saturate(120%) brightness(1.1)) !important;
	overflow: hidden;
}

.night .dropdown-menu.show {
	background-color: #292c2c !important;
	box-shadow: 0 0 12px #050505ba !important;
	background-color: rgba(41, 44, 44, 0.75) !important;
}

.dropdown-menu.show > li > a {
	color: var(--bs-body-color) !important;
}

.dropdown-item, .dropdown-item {
    border-radius: 7px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
	transition: background-color 0.2s ease;
    border-radius: 7px !important;
}

