/* **************************************************************** */
/* Left Bar shrink */
#page_leftbar {
	width: 70px !important;
	overflow-x: hidden !important;
}

.fullscreen #container {
    grid-template-columns: 70px auto;
}

.nav {
    --bs-nav-link-padding-x: 19px !important;
}

.fullscreen #p15agentConsoleText {
    width: calc(100vw - 100px);
}

#page_leftbar > div:first-of-type {
	display: none !important;
}

/* left Bar Custom Colors */
#page_leftbar {
	/* background: linear-gradient(to bottom, #35445a 10%, #3b4c64 100%) !important; /* Melo */
    background: linear-gradient(to bottom, var(--bs-primary-bg-subtle) 66%, var(--bs-primary) 180%) !important;
}

#page_leftbar .nav-link {
	border-radius: 5px 0px 0px 5px !important;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

#page_leftbar .nav-link:hover {
	transform: scale(1.2);
}

#page_leftbar .nav-link {
    --hover-bg: color-mix(in lab, #fff 50%, transparent);
}

.night #page_leftbar .nav-link {
    --hover-bg: color-mix(in lab, #fff 8%, transparent);
}

#page_leftbar .nav-link:not(.lbbuttonsel2):hover {
    background-color: var(--hover-bg) !important;
}

