/* **************************************************************** */
/* Little Stuff */
#container {
	background-color: #f3f3f3 !important;
}

.night #container {
	background-color: #1c1e1e !important;
}

#p30info {
	overflow-x: hidden !important;
}

#p30info > .row {
	margin-right: calc(1.5 * var(--bs-gutter-x)) !important;
}

#p30html2, #p30html3, #p3users, #p51info {
	padding-right: 15px !important;
}

#p3users table, #p16events .table.table-hover.p3eventsTable,
table.table.table-hover.p3usersTable {
	--bs-table-bg: unset !important;
}

#p20info .table.table-hover.table-striped, #p20info2 .table.table-hover.table-striped {
	--bs-table-bg: unset !important;
	--bs-table-striped-bg: unset !important;
	/* --bs-table-hover-bg: unset !important; */
}

#p20info .table.table-hover.table-striped tr, #p20info2 .table.table-hover.table-striped tr {
    background-color: unset !important;
}

#DeskTools {
	font-size: smaller !important;
	width: 314px !important;
}

#deskToolsAreaTop {
	background-color: #f2f2f2 !important;
}

.night #deskToolsAreaTop {
	background-color: #919191ba !important;
}

.pwState.pwsBlack {
	background: linear-gradient(to bottom right, #7ce25b 15%, #217957 85%);
}
#p10html4 > table > tbody > tr {
    background-color: var(--bs-table-bg) !important;
}

#dialog2 > div {
	overflow-wrap: break-word;
}

#dialog2 .col.col-md-2.col-lg-2 {
    overflow-wrap: normal !important;
}

#dialog2 > .dialogText {
	font-size: smaller;
}

.deskToolsBar:hover {
    background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
	transition: background-color 0.2s ease;
}

.night .deskToolsBar:hover {
	background-color: #414141 !important;
}

/* Scrollbars */
/* Target the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
	background-color: color-mix(in lab, currentcolor 15%, transparent) !important;
}

/* Hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	background-color: color-mix(in lab, currentcolor 30%, transparent) !important;
}

/* Active/clicking state */
::-webkit-scrollbar-thumb:active {
	background-color: color-mix(in lab, currentcolor 30%, transparent) !important;
}

/* Modals */
#dialogHeader {
    background-color: unset !important;
	cursor: default !important;
	color: #CCCCCC !important;
}

.modal-header {
	padding: 9px 9px 9px 16px !important;
	border-bottom: unset !important;
}

.modal-title {
	color: #212529 !important;
}

.night .modal-title {
	color: #BBBBBB !important;
}
	
.h5, h5 {
	font-size: 1.05rem !important;
}

.modal-header .btn-close {
    background-size: 0.7em auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
	width: 1.7em !important;
    height: 1.7em !important;
	margin: calc(-0.6 * var(--bs-modal-header-padding-y)) calc(-0.6 * var(--bs-modal-header-padding-x)) calc(-0.6 * var(--bs-modal-header-padding-y)) auto !important;
	border-radius: unset !important;
    opacity: 1 !important;
	cursor: default !important;
	background-color: transparent !important;
}

.night .modal-header .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
    filter: none !important;
}

.modal-header .btn-close:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
	background-color: #c42b1c !important;
    opacity: 1 !important;
}

.modal-content {
    background-color: rgba(242, 242, 242, 0.6) !important;
    backdrop-filter: blur(16px) saturate(120%) brightness(1.1) !important;
    -webkit-backdrop-filter: blur(16px) saturate(120%) brightness(1.1) !important;
	overflow: hidden;
	border-radius: 14px !important;
	border: 1px solid rgb(0 0 0 / 11%);
	box-shadow: inset 0 -1px 13px 1px rgb(255 255 255 / 11%) !important;
}

.modal-content * {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

#d2ServerErrorsLogPre {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
}

.night .modal-content {
	background-color: rgba(41, 44, 44, 0.6) !important;
	border: 1px solid rgb(255 255 255 / 28%);
	/* box-shadow: 0 0 12px #0000004d !important; */
/*	box-shadow: inset 0 0 18px #fefefe36 !important; */
	box-shadow: inset 0 -1px 13px 1px rgb(255 255 255 / 7%) !important;
}

.modal-backdrop {
	background: unset !important;
	background-color: rgba(242, 242, 242, 0.5) !important;
	/* background-color: rgba(41, 44, 44, 0.15) !important; */
	/* background-color: rgba(41, 44, 44, 0.3) !important; */
    backdrop-filter: blur(3px) !important;
	opacity: 1 !important;
	/* transition: opacity 1.3s linear !important; */
	overflow: hidden !important;
}

.night .modal-backdrop {
	background-color: rgba(41, 44, 44, 0.3) !important;
}

.modal {
    --bs-modal-padding: 2rem;
	overflow: hidden !important;
}

.form-control, .form-control-sm, .form-select, .form-select-sm, .btn-group-sm>.btn, .btn-sm, #d2ServerErrorsLogPre {
    border: 1px solid #7d7d7d3d !important;
	border-radius: 5px !important;
}

#dialog2 input[type="radio"] {
    margin-right: 10px !important;
}

.modal-footer {
	border-top: unset;
	padding: 15px 20px 20px 20px !important;
    gap: 10px;
}

.night #agins_linux_area, .night #agins_linux_area_un, .night #d2notifyMsg, .night #d2devNotes, .night #d2devEvent, .night #d2runcmd, .night #d2devMessage, .night #d2smsText, .night #d2emailSubject, .night #d2emailText, .night #broadcastMessage, .night #d2ServerErrorsLogPre, .night textarea#d2notifyMsg, .night input#dp2notifyTitle {
	background-color: #262626cc !important;
}

#agins_linux_area, #agins_linux_area_un, #d2notifyMsg, #d2devNotes, #d2devEvent, #d2runcmd, #d2devMessage, #d2smsText, #d2emailSubject, #d2emailText, #broadcastMessage, #d2ServerErrorsLogPre, textarea#d2notifyMsg, input#dp2notifyTitle {
    background-color: #f4f4f45e !important;
    border: 1px solid #7d7d7d3d !important;
	border-radius: 5px !important;
}

#d4editorarea {
    border: 1px solid #7d7d7d3d !important;
	border-radius: 5px !important;
	background-color: #f4f4f45e;
}
.night #d4editorarea {
    background-color: #262626cc !important;
}

#dialog2 > textarea#d2devNotes.form-control {
	resize: vertical !important;
}

/* forms */
.form-floating > .form-select {
  background: rgba(242, 242, 242, 0.01) !important;
  border: 1px solid #7d7d7d3d !important;
}

.night .form-floating > .form-select {
  background: rgba(41, 44, 44, 0.01) !important;
}

.form-floating > .form-select {
  -webkit-appearance: none;
  appearance: none;
}

.form-select::-webkit-calendar-picker-indicator {
  /*filter: invert(1); /* opcional: inverte seta */
}

.form-select option,
.form-select optgroup {
  background: rgba(242, 242, 242, 0.6) !important;
  /* color: #fff !important; */
  backdrop-filter: blur(8px);
}

.night .form-select option,
.night .form-select optgroup {
  background: rgba(41, 44, 44, 0.95) !important;
  /* color: #fff !important; */
  backdrop-filter: blur(8px);
}

.form-floating>.form-select~label::after {
	background-color: unset !important;
}

#d7otherset, #d7otherset2, #d7rdpflags {
	border-radius: 5px !important;
	border: 1px solid #7d7d7d3d !important;
	max-height: 350px;
}

#theme-switcher {
	padding: 15px;
	margin-top: var(--bs-modal-margin);
	background: rgba(242, 242, 242, 0.01) !important;
	border: 1px solid #7d7d7d3d !important;
	border-radius: 5px !important;
}

.night #theme-switcher {
	background: rgba(41, 44, 44, 0.01) !important;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    font-size: small;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
	background-color: unset;
}

.form-floating>.form-control-plaintext,
.form-floating>.form-control-plaintext,
.form-floating>.form-control,
.form-floating>.form-control {
	background: rgba(242, 242, 242, 0.01) !important;
}

.night .form-floating>.form-control-plaintext,
.night .form-floating>.form-control-plaintext,
.night .form-floating>.form-control,
.night .form-floating>.form-control {
	background: rgba(41, 44, 44, 0.01) !important;
    color: var(--bs-body-color);
}

:root {
  --sub-menu-color: #7d7d7d3d;
}

.form-select {
	background: rgba(242, 242, 242, 0.01) !important;
	/* padding: 15px; */
	/* margin-bottom: var(--bs-modal-margin) !important; */
	background: rgba(242, 242, 242, 0.01) !important;
	border: 1px solid #7d7d7d3d !important;
	border-radius: 5px !important;
}

.night .form-select {
	background: rgba(41, 44, 44, 0.01) !important;
}

#d2cmdtype, #d2cmduser, #d2cmdsource {
    padding-top: 1rem;
    padding-bottom: 1rem;
	padding: 15px;
	margin-bottom: var(--bs-modal-margin) !important;
	/*background: rgba(242, 242, 242, 0.01) !important;*/
    border: 1px solid #7d7d7d3d !important;
    border-radius: 5px !important;
    appearance: none;
}

#d3serverfiles, #d2serverfiles {
	background-color: #f4f4f45e;
    height: 350px;
	border: 1px solid #7d7d7d3d !important;
	border-radius: 5px !important;
	padding-left: 10px;
}

.night #d3serverfiles, .night #d2serverfiles {
	background-color: #262626cc;
}

#d3serveraction, #d2serveraction {
    background-color: unset;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
    background-color: #f4f4f45e;
}

.night .form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
    background-color: #262626cc;
}

input#dp2notifyTitle, select#d2notifyTimeout, select#d2deviceop, span.select2-selection.select2-selection--multiple, select#d2devTimeout {
    padding: 15px;
    margin-bottom: var(--bs-modal-margin) !important;
    border: 1px solid #7d7d7d3d !important;
    border-radius: 5px !important;
    appearance: none;
	}


input#d2devurl {
    padding: 15px;
    margin-bottom: var(--bs-modal-margin) !important;
    border: 1px solid #7d7d7d3d !important;
    border-radius: 5px !important;
    appearance: none;
	}

#SearchInput.search, #KvmSearchInput.search {
    background-color: #f3f3f3;
}

#devListToolbarSpan #SearchInput, #devListToolbarSpan #KvmSearchInput {
    width: 170px;
}

img#MainComputerImage {
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: bottom right;
    z-index: 0;
    position: relative;
}

#p10deviceBattery, .deviceNotifyLargeDot {
	z-index: 1;
}

img#MainComputerImage:hover {
	transform: scale(1.02);
}

#dialog2 > div > div[onclick^="p10setIcon"] {
    transition: transform 0.3s ease, filter 0.3s ease;
	transform-origin: bottom center;
}

#dialog2 > div > div[onclick^="p10setIcon"]:hover {
    transform: scale(1.2);
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.45));
}

#dialog2 > div > div[onclick^="p10setIcon"] {
    margin: 17px !important;
    filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.15));
}

#dialog2 > div > div[onclick^="p10setIcon"]:hover {
    transform: scale(1.2);
    filter: drop-shadow(4px 16px 7px rgba(0, 0, 0, 0.15));
}

.night #dialog2 > div > div[onclick^="p10setIcon"] {
    margin: 17px !important;
    filter: drop-shadow(4px 2px 2px rgba(110 110 110 / 30%));
}

.night #dialog2 > div > div[onclick^="p10setIcon"]:hover {
    transform: scale(1.2);
    filter: drop-shadow(4px 16px 7px rgb(110 110 110 / 30%));
}

.select2-container--bootstrap-5 .select2-selection {
	background: rgba(242, 242, 242, 0.01) !important;
}

.night .select2-container--bootstrap-5 .select2-selection {
	background: rgba(41, 44, 44, 0.01) !important;
}

.suggestionBox {
    background-color: #CCC;
}

.suggestionBoxItem {
    background-color: #707070;
	color: white;
    font-size: smaller;
    padding: 10px;
}

.suggestionBoxItem:hover
Specificity: (0,2,0)
 {
    background-color: var(--bs-primary);
}

.form-select {
	color: var(--bs-body-color);
}

/* form-checks-input radio buttons */
.form-check-input {
  color: #000;
  border: 1px solid color-mix(in lab, currentcolor 30%, transparent) !important;
  border-radius: 50% !important;
  pointer-events: auto !important;
  cursor: pointer !important;
  opacity: 0.9;
  /* background-size: unset !important; */
	background-size: contain !important;
}

.night .form-check-input {
  color: #FFF;
}

.form-check-input:hover {
	transform: scale(1.15);
	transition: transform 0.3s ease 0s, background-color 0.6s ease 0s;
	background-color: color-mix(in lab, var(--bs-primary) 20%, transparent) !important;
	opacity: 1.0;
}

.form-check-input:focus {
  box-shadow: 0px 0px 2px 0.15rem color-mix(in lab, var(--bs-secondary) 20%, transparent);
	background-color: color-mix(in lab, var(--bs-primary) 20%, transparent) !important;
		/*transform: scale(1.15);*/
	transition: transform 0.3s ease 0s, background-color 0.6s ease 0s;

}

.form-check-input:checked {
  background-color: var(--bs-primary) !important;
  background-image: var(--bs-form-check-bg-image) !important;
}

.form-check-input:not(:checked), .form-check-input:not(:disabled) {
  background: transparent;
	background-color: color-mix(in lab, var(--bs-secondary) 0%, transparent);

}

.form-check-input:disabled {
  opacity: 0.4;
  border: 1px solid color-mix(in lab, currentcolor 40%, transparent);
}

/* fullscreen session position */
#deskarea0 { left: 0 !important; }

.fsize {
    width: 210px !important;
	}

#footer {
	background: linear-gradient(
    90deg,
    var(--bs-primary-bg-subtle) 66%,
    var(--bs-secondary) 233%
  )
}

/* p0 message server disconnected */
 #p0message u {
	text-decoration: none;
	font-weight: 600;
}

#p0 {
    position: fixed;
    text-align: center;
	cursor: default;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#p0::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 30px;
    height: 30px;
    box-shadow:
		0px 6px 12px #ff4646,
        0px -6px 12px #8949ff,
        6px 0px 12px #ff07fb,
        -6px 0px 12px #ff07fb;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from { transform: translateX(-50%) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg); }
}

div[id$="BackButton"] {
    color: var(--bs-primary);
}

/* plugins page */
#p42tbl .gradTable1, #p42tbl .gradTable3 {
    background-image: unset;
}

#p42tbl .gradTable2 {
    background-color: unset;
}

#pluginRestartNotice.areaHead {
	color: #212529; !important;
	background: unset !important;
	background-color: #dfcd6b !important;
}