/* **************************************************************** */
/* Little Stuff */
#container {
	background-color: #f3f3f3 !important;
}

.night #container {
	background-color: #1c1e1e !important;
}

#p2info {
	overflow-x: hidden !important;
}

#p1title {
	margin-top: -13px !important;
}

#p30info {
	overflow-x: hidden !important;
}

#p30info > .row {
	margin-right: calc(1.5 * var(--bs-gutter-x)) !important;
}

#p30html2 {
	margin-right: 15px !important;
}

#p2meshes {
	margin-right: 15px !important;
}

#p17info2 .table.table-hover {
    --bs-table-bg: unset !important;
	--bs-table-hover-bg: unset !important;
}

#p17info2 > table > tbody > tr > td * {
		border: none !important;
}

#p3users table, #p16events .table.table-hover.p3eventsTable {
	--bs-table-bg: unset !important;
}

#p20info .table.table-hover.table-striped, #p20info2 .table.table-hover.table-striped {
	--bs-table-bg: unset !important;
	--bs-table-striped-bg: unset !important;
	/* --bs-table-hover-bg: unset !important; */
}

#DeskTools {
	font-size: smaller !important;
	width: 314px !important;
}

#deskToolsAreaTop {
	background-color: #f2f2f2 !important;
}

.night #deskToolsAreaTop {
	background-color: #919191ba !important;
}

.pwState.pwsBlack {
	background: linear-gradient(to bottom right, #7ce25b 15%, #217957 85%);
}
#p10html4 > table > tbody > tr {
    background-color: var(--bs-table-bg) !important;
}

#dialog2 > div {
	overflow-wrap: break-word;
}

#dialog2 > .dialogText {
	font-size: smaller;
}

/* Modals */
#dialogHeader {
    background-color: var(--bs-primary) !important;
	cursor: default !important;
	color: #CCCCCC !important;
}

.modal-header {
	padding: 9px 9px 9px 16px !important;
}
	
.h5, h5 {
	font-size: 1.05rem !important;
}

.modal-header .btn-close {
    --bs-btn-close-color: #f8e4e4 !important;
    --bs-btn-close-white-filter: none !important;
    background-color: transparent !important;
    background-image: none !important;
    filter: none !important;
    opacity: 1 !important;
	cursor: default !important;
}

.modal-header .btn-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8e4e4'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") !important;
    background-size: 0.7em auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
	width: 1.6em !important;
    height: 1.6em !important;
}

.modal-header .btn-close:hover {
    background-color: #c42b1c !important;
    filter: none !important;
    opacity: 1 !important;
}

