/* **************************************************************** */
/* Masthead */
/* Masthead Custom Colors */
@media (min-width: 769px) {
    #masthead {
		/* background-color: #222f42 !important; /* Melo */
		background-image: url(../logo.png), linear-gradient(90deg, var(--bs-primary) 66%, var(--bs-secondary) 133%);
	}
}

@media (max-width: 768px) {
#masthead {
  position: relative;
  background: linear-gradient(
    90deg,
    var(--bs-primary) 66%,
    var(--bs-secondary) 133%
  );
  overflow: visible;
	background-size: unset !important;
}

#masthead::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18rem;
  height: 2.5rem;
  transform: translateY(-50%);
  background-image: url(../logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  pointer-events: none;
  background-size: 18rem 2.5rem;
}
}

/* Masthead Company name size */
#masthead .title {
    font-family: "Segoe UI", Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.7rem !important;
    letter-spacing: 0.6px;
}

#masthead .title2 {
    font-family: "Segoe UI", Roboto, sans-serif;
    font-weight: 300;
    font-size: 0.7rem !important;
    letter-spacing: 0.2px;
}

/* Welcome & logout position */
#masthead p {
    font-size: 11px !important;
    color: #fff !important;
    /* margin: 45px 35px 0 !important; /* non compatible with MC 1.1.53 new dropdown menu */
}

