/* **************************************************************** */
/* Device MenuIcons - Replace FontAwesome with Custom PNG Icons */
span[id^="devViewButton"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: center / 24px 24px no-repeat transparent;
  }
  
  #devViewButton1 {
  background-image: url(/images/icons/list.png)
  }
  #devViewButton2 {
  background-image: url(/images/icons/column.png)
  }
  #devViewButton3 {
  background-image: url(/images/icons/devices_1.png)
  }
  #devViewButton4 {
  background-image: url(/images/icons/map.png)
  }
  #devViewButton5 {
  background-image: url(/images/icons/devices_2.png)
  }
  
  span[id^="devViewButton"] * { display: none !important; }
  span[id^="devViewButton"]::before,
  span[id^="devViewButton"]::after { display: none !important; }
  
  .viewSelectorSel {
    background-color: #bbbbbb47 !important;
  }
  
  #p11 #p11title #devListToolbarViewIcons,
  #devListToolbarViewIcons2{
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: center / 24px 24px no-repeat transparent !important;
    background-image: url(/images/icons/enlarge.png) !important;
    cursor: pointer;
  }
  #p11 #p11title #devListToolbarViewIcons > svg.svg-inline--fa.fa-maximize,
  #devListToolbarViewIcons2 > svg.svg-inline--fa.fa-maximize {
    display: block !important;
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }

/* **************************************************************** */
/* Device Pagination Icons - Replace old Icons with New PNG Icons */
div[id^="devViewPageButton"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: center / 24px 24px no-repeat transparent;
}

#devViewPageButton1 {
  background-image: url(/images/icons/FirstPage.png)
}
#devViewPageButton2 {
  background-image: url(/images/icons/PreviousPage.png)
}
#devViewPageButton3 {
  background-image: url(/images/icons/NextPage.png)
}
#devViewPageButton4 {
  background-image: url(/images/icons/LastPage.png)
}

div[id^="devViewPageButton"] * { display: none !important; }
div[id^="devViewPageButton"]::before,
div[id^="devViewPageButton"]::after { display: none !important; }

.viewSelector {
  opacity: 1 !important;
}
.viewSelector:hover {
  background-color: #404141 !important;
}