/* **************************************************************** */
/* MenuIcons - Replace FontAwesome with Custom PNG Icons */
span[id^="devViewButton"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: center / 24px 24px no-repeat transparent;
}

span[id^="devViewButton"]:hover {
  background-color: #e3e3e3 !important;
}

.night span[id^="devViewButton"]:hover {
  background-color: #404141 !important;
}

#devViewButton1 {
	background-image: url(/images/icons/AppsListDetail.svg);
}
#devViewButton2 {
	background-image: url(/images/icons/TextColumnTwoLeft.svg);
}
#devViewButton3 {
	background-image: url(/images/icons/Grid.svg);
}
#devViewButton4 {
	background-image: url(/images/icons/Map.svg);
}
#devViewButton5 {
	background-image: url(/images/icons/Glance.svg);
}

.night #devViewButton1 {
	background-image: url(/images/icons/AppsListDetail_night.svg);
}
.night #devViewButton2 {
	background-image: url(/images/icons/TextColumnTwoLeft_night.svg);
}
.night #devViewButton3 {
	background-image: url(/images/icons/Grid_night.svg);
}
.night #devViewButton4 {
	background-image: url(/images/icons/Map_night.svg);
}
.night #devViewButton5 {
	background-image: url(/images/icons/Glance_night.svg);
}

span[id^="devViewButton"] * { display: none !important; }
span[id^="devViewButton"]::before,
span[id^="devViewButton"]::after { display: none !important; }

.viewSelectorSel {
  background-color: #bbbbbb24 !important;
}

#p11 #p11title #devListToolbarViewIcons,
#devListToolbarViewIcons2{
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: center / 24px 24px no-repeat transparent !important;
  background-image: url(/images/icons/FullScreenMaximize.svg) !important;
  cursor: pointer;
}

.night #p11 #p11title #devListToolbarViewIcons,
.night #devListToolbarViewIcons2 {
	background-image: url(/images/icons/FullScreenMaximize_night.svg) !important;
}

#p11 #p11title #devListToolbarViewIcons > svg.svg-inline--fa.fa-maximize,
#devListToolbarViewIcons2 > svg.svg-inline--fa.fa-maximize {
  display: block !important;
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

/* ToolBar Settings Icon */
#devListToolbarSpan {
	color: #737373 !important;
}

.night #devListToolbarSpan {
	color: #dee2e6bf !important;
}

#devListToolbarSettings path {
    display: none !important;
}

#devListToolbarSettings {
    background-image: url(/images/icons/TextGrammarSettings.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px !important;
    height: 24px !important;
    cursor: pointer;
    display: inline-block;
}

.night #devListToolbarSettings {
	background-image: url(/images/icons/TextGrammarSettings_night.svg) !important;
}

/* Collapse Expand Button */
#CollapseAllButton svg, #CollapseAllButton2 svg {
    display: none !important;
}

#CollapseAllButton, #CollapseAllButton2 {
    background-image: url(/images/icons/ArrowMinimizeVertical.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px !important;
    height: 24px !important;
    cursor: pointer !important;
}

.night #CollapseAllButton, .night #CollapseAllButton2 {
	background-image: url(/images/icons/ArrowMinimizeVertical_night.svg) !important;
}

#ExpandAllButton svg, #ExpandAllButton2 svg {
    display: none !important;
}

#ExpandAllButton, #ExpandAllButton2 {
    background-image: url(/images/icons/ArrowMaximizeVertical.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    width: 24px !important;
    height: 24px !important;
    cursor: pointer !important;
}

.night #ExpandAllButton, .night #ExpandAllButton2 {
	background-image: url(/images/icons/ArrowMaximizeVertical_night.svg) !important;
}

/* **************************************************************** */
/* Device Pagination Icons - Replace old Icons with New PNG Icons */
div[id^="devViewPageButton"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background: center / 24px 24px no-repeat transparent;
}

#devViewPageButton1 {
	background-image: url(/images/icons/ArrowPrevious.svg);
}

.night #devViewPageButton1 {
	background-image: url(/images/icons/ArrowPrevious_night.svg);
}

#devViewPageButton2 {
	background-image: url(/images/icons/IosArrowLeft.svg);
}

.night #devViewPageButton2 {
	background-image: url(/images/icons/IosArrowLeft_night.svg);
}

#devViewPageButton3 {
	background-image: url(/images/icons/IosArrowRight.svg);
}

.night #devViewPageButton3 {
	background-image: url(/images/icons/IosArrowRight_night.svg);
}

#devViewPageButton4 {
	background-image: url(/images/icons/ArrowNext.svg);
	margin-right: 56px !important;
}

.night #devViewPageButton4 {
	background-image: url(/images/icons/ArrowNext_night.svg);
}

div[id^="devViewPageButton"] * { display: none !important; }
div[id^="devViewPageButton"]::before,
div[id^="devViewPageButton"]::after { display: none !important; }

.viewSelector {
  opacity: 1 !important;
}

.viewSelector:hover {
  background-color: #e3e3e3 !important;
}

.night .viewSelector:hover {
  background-color: #404141 !important;
}

