/* **************************************************************** */
/* TopBar - Hide and raise device list */

#column_l {
  margin-top: 0 !important;
  padding: 15px 0 0 15px !important;
}

body.fullscreen:not(.menu_stack) #column_l:has(
  #p1:not([style*="display: none"], [style*="display:none"]),
  #p2:not([style*="display: none"], [style*="display:none"]),
  #p5:not([style*="display: none"], [style*="display:none"])
) {
  margin-top: -24px !important;
}


@media (max-width: 768px) {
body.fullscreen:not(.menu_stack) #column_l:has(
  #p1:not([style*="display: none"], [style*="display:none"]),
  #p2:not([style*="display: none"], [style*="display:none"]),
  #p5:not([style*="display: none"], [style*="display:none"])
) {
  margin-top: unset !important;
}
}

#xdevices {
	/* height: calc(-165px + 100vh) !important; */
    max-height: calc(-145px + 100vh) !important;
	margin-left: 4px !important;
}

#p2info {
	height: calc(-122px + 100vh) !important;
    max-height: calc(-122px + 100vh) !important;
}

#p3events {
	height: calc(-183px + 100vh) !important;
}
#p10info {
	height: calc(-145px + 100vh) !important;
    max-height: calc(-145px + 100vh) !important;
}

#xdevicesmap {
    height: calc(100vh - 145px) !important;
	max-height: calc(100vh - 145px) !important;
}

/* Topbar colors */
.style3, .style3x, #MainSubMenuSpan, #MeshSubMenuSpan, #EventsSubMenuSpan, #UserSubMenuSpan, #UsersSubMenuSpan, #ServerSubMenuSpan, #MainMenuSpan, #MainSubMenu, #MeshSubMenu, #UserSubMenu, #ServerSubMenu, #UserDummyMenu, #PluginSubMenu {
	background: unset !important;
	background-color: var(--bs-secondary-bg) !important;
	font-weight: lighter;
}

.style3sel,
.fullselect,
#EventsSubMenu .style3sel {
	/* background-color: var(--bs-secondary-bg) !important; */
	color: var(--bs-emphasis-color) !important;
    background-color: #f3f3f3 !important;
	border-right: 2px solid var(--bs-secondary-border-subtle) !important;
	border-left: 2px solid var(--bs-secondary-border-subtle) !important;
}

.night .style3sel,
.night .fullselect,
.night #EventsSubMenu .style3sel {
    background-color: #1c1e1e !important;
}

#EventsSubMenu .style3x, .style3x {
    /* background-color: #0000003b !important; */
	border-right: 1px solid #97979740 !important;
	background: #dddddd2e !important;
	/* font-weight: normal; */
}

#EventsSubMenu .style3x:hover, .style3x:hover {
    background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
	transition: background-color 0.2s ease;
}

/* Event tabs Gap  */
#EventsSubMenu .col {
/*     margin: 0 !important; */
    padding-left: 0 !important;
    padding-right: 0 !important;
/*    width: auto !important; */
}

