/* **************************************************************** */
/* TopMenu */
#userDropdownMenuContainer, #uiSubmenu {
    padding: 4px;
}

#userDropdown {
	background: unset !important;
}

#userDropdownMenu, .userDropdownSubmenu {
	background-color: #f3f3f3 !important;
	color: var(--bs-body-color) !important;
	font-size: small !important;
	border-radius: 10px !important;
    box-shadow: 0 0 12px #0000004d !important;
}

.night #userDropdownMenu,
.night .userDropdownSubmenu {
	background-color: #292c2c !important;
    box-shadow: 0 0 12px #050505ba !important;
}

.userDropdownMenuItem,
.userDropdownSubmenuItem {
	border-radius: 7px !important;
}

.userDropdownMenuItem:hover,
.userDropdownSubmenuItem:hover,
#userDropdownMenuContainer:has(#uiSubmenu:hover) .userDropdownUISettings {
	background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
	transition: background-color 0.2s ease;
}

.userDropdownMenuItem span, .userDropdownMenuItem {
	color: unset !important;
	font-size: small !important;
}

#userDropdownMenuDivider {
    border-top: var(--bs-border-width) solid !important;
	opacity: .25 !important;
}
#uiSubmenu {
  right: 96%;
}

/* hover */
@media (min-width: 769px) {
	#uiSubmenu {
	display: block !important;
	opacity: 0 !important;
	transform: translateX(12px) !important;
	transition: 
		opacity 0.18s ease 0s, 
		transform 0.3s ease 0s;
	pointer-events: none !important;
	transition-delay: 0.1s !important;
	}

	#userDropdownMenuContainer:has(#uiSubmenu:hover) .userDropdownUISettings {
		background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
		transition: background-color 0.2s ease;
	}
	
	.userDropdownUISettings:hover + #uiSubmenu,
	#uiSubmenu:hover {
	display: block !important;
	opacity: 1 !important;
	transform: translateX(0) !important;
	pointer-events: auto !important;
	transition-delay: 0.4s !important;
	}
	
	#userDropdownMenuContainer:has(.userDropdownUISettings:hover) .fa-chevron-right,
	#userDropdownMenuContainer:has(#uiSubmenu:hover) .fa-chevron-right {
	transform: rotate(90deg) !important;
	transition-delay: 0.3s !important;
	}
}

.userDropdownMenuIcon {
    width: 15px !important;
    height: 15px !important;
}

#userDropdownMenuContainer .fa-chevron-right {
	width: 12px !important;
    height: 12px !important;
}

