/* **************************************************************** */
/* TopMenu */
#userDropdownMenuContainer, #uiSubmenu {
    padding: 4px;
}

#userDropdown {
	background: unset !important;
}

#userDropdownName {
    font-size: 0.8rem;
}

#userDropdownMenu, .userDropdownSubmenu {
	color: var(--bs-body-color) !important;
	font-size: small !important;
	border-radius: 10px !important;
    box-shadow: 0 0 12px #0000004d;
    backdrop-filter: blur(12px) saturate(120%) brightness(1.1) !important;
    -webkit-backdrop-filter: blur(12px) saturate(120%) brightness(1.1) !important;
    overflow: visible !important;
    isolation: isolate !important;
    transform: translateZ(0) !important;
}

.night #userDropdownMenu, .night .userDropdownSubmenu {
    box-shadow: 0 0 12px #050505ba !important;
}

#userDropdownMenu {
	background-color: rgba(242, 242, 242, 0.75) !important;
}

.night #userDropdownMenu {
	background-color: rgba(41, 44, 44, 0.75) !important;
}

.userDropdownSubmenu {
	background-color: rgba(242, 242, 242, 0.95) !important;
}

.night .userDropdownSubmenu {
	background-color: rgba(41, 44, 44, 0.95) !important;
}

.userDropdownMenuItem,
.userDropdownSubmenuItem {
	border-radius: 7px !important;
}

@media (min-width: 769px) {
	.userDropdownMenuItem:hover,
	.userDropdownSubmenuItem:hover,
	#userDropdownMenuContainer:has(#uiSubmenu:hover) .userDropdownUISettings {
		background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
		transition: background-color 0.2s ease;
	}
}

.userDropdownMenuItem span, .userDropdownMenuItem {
	color: unset !important;
	font-size: small !important;
}

#userDropdownMenuDivider {
    border-top: var(--bs-border-width) solid !important;
	opacity: .25 !important;
}
#uiSubmenu {
    right: 100% !important;
    margin-right: -4px !important;
}

@media (max-width: 769px) {
	.userDropdownSubmenu {
		/* background-color: rgba(242, 242, 242, 0.75) !important; */
		background-color: unset !important;
		box-shadow: unset !important;
		backdrop-filter: unset !important;
	}
	.night .userDropdownSubmenu {
		/* background-color: rgba(41, 44, 44, 0.75) !important; */
		background-color: unset !important;
		box-shadow: unset !important;
		backdrop-filter: unset !important;
	}
}


/* hover */
@media (min-width: 769px) {
	#uiSubmenu {
	display: block !important;
	opacity: 0 !important;
	transform: translateX(12px) !important;
	transition: 
		opacity 0.18s ease 0s, 
		transform 0.3s ease 0s;
	pointer-events: none !important;
	transition-delay: 0.1s !important;
	}

	#userDropdownMenuContainer:has(#uiSubmenu:hover) .userDropdownUISettings {
		background-color: color-mix(in lab, currentcolor 5%, transparent) !important;
		transition: background-color 0.2s ease;
	}

	.userDropdownUISettings:hover + #uiSubmenu,
	#uiSubmenu:hover {
	display: block !important;
	opacity: 1 !important;
	transform: translateX(0) !important;
	pointer-events: auto !important;
	transition-delay: 0.4s !important;
	}
	
	#userDropdownMenuContainer:has(.userDropdownUISettings:hover) .fa-chevron-right,
	#userDropdownMenuContainer:has(#uiSubmenu:hover) .fa-chevron-right {
	transform: rotate(90deg) !important;
	transition-delay: 0.3s !important;
	}
}

.userDropdownMenuIcon {
    width: 15px !important;
    height: 15px !important;
}

#userDropdownMenuContainer .fa-chevron-right {
	width: 12px !important;
    height: 12px !important;
}

.userDropdownMenuItem[onclick="handleUserMenuItem('logout')"] {
    color: #ff5353 !important;
}

.userDropdownMenuItem[onclick="handleUserMenuItem('logout')"]:hover {
        background-color: #f6d3d3 !important;
}

.night .userDropdownMenuItem[onclick="handleUserMenuItem('logout')"]:hover {
        background-color: #652c2c !important;
}